<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">La Ultima Morada</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li><a routerLink="/insert">Insert</a></li>
            <li><a routerLink="/update">Update</a></li>
        </ul>
      </div>
    </div>
</nav> -->

<header class="header">
    <div>
        <a class="page-name" href="#">La Ultima Morada</a>
    </div>
    <nav>
        <ul class="navbar">
            <li><a routerLink="/insert">Insert</a></li>
            <li><a routerLink="/update">Update</a></li>
        </ul>
    </nav>
</header>
<br><br><br><br><br>

<router-outlet></router-outlet>


<!-- La idea es que al apretar "Ultima morada" nos lleve a una pagina donde se describa el problema, -->
<!-- luego al apretar Home nos lleve a la pagina princial, -->
<!-- y al darle a info se nos lleva a una pagina donde se detalle la creacion de la pagina. -->