<header class="header">
    <div>
        <a class="page-name" href="#">La Ultima Morada</a>
    </div>
    <nav>
        <ul class="navbar">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/info">Info</a></li>
        </ul>
    </nav>
</header>



<!-- La idea es que al apretar "Ultima morada" nos lleve a una pagina donde se describa el problema, -->
<!-- luego al apretar Home nos lleve a la pagina princial, -->
<!-- y al darle a info se nos lleva a una pagina donde se detalle la creacion de la pagina. -->